#
# ./tools/python/bin/pip install --upgrade pip
# ./tools/python/bin/pip install --upgrade -r requirements.txt
# ./tools/python/bin/pip list
#

#
# Testing
#

fakeredis
fake-factory
mock
nose
nose-exclude
nose-progressive

#
# Packages
#

arrow
dotmap
easydict
httpretty
ijson
markdown
parse
prefixtree
protobuf
pyyaml
requests
requests_oauthlib
sortedcontainers

#
# Services
#

elasticsearch
celery[redis]
gdata
google-api-python-client
py2neo
python-memcached
redis
tutum

#
# Flask
#

Flask
Flask-Assets
flask-environments
Flask-Injector
Flask-Login
flask-socketio==1.0b1
Flask-Testing
